%h1 Article Search
=form_for search_path, method: :get do |f|
  %p
    = f.label "Search for"
    = text_field_tag :q, params[:q]
    = submit_tag "Go", name: nil

%ul
  -@articles.each do |article|
    %li
      %h3
        = link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
            controller: "articles",
            action: "show",
            id: article._id
      -if article.try(:highlight).try(:text)
        -article.highlight.text.each do |snippet|
          %p= snippet.html_safe
