%h1 New Article
= form_for :article, url: articles_path do |f|
  - if @article.present? && @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  %p
    =f.label :title
    %br
    =f.text_field :title
  %p
    =f.label :text
    %br
    =f.text_area :text

  %p
    =f.submit

= link_to '<- Back', articles_path
